In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('OSMI Mental Health in Tech Survey 2014.csv',sep=None)

In [ ]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,27/08/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,juin-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,27/08/2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,27/08/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,juin-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,27/08/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,27/08/2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [ ]:
df['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [ ]:
Male=[ 'M', 'Male', 'male', 'm', 'Male-ish', 'maile','something kinda male?',
       'Cis Male','Mal', 'Male (CIS)','Make', 'Nah', 'All','male leaning androgynous', 'Male ', 'Man', 'msle', 'Neuter', 'Guy (-ish) ^_^', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'Cis Man', 'ostensibly male, unsure what that really means']

# gender column needs to be recoded (number of unique values = 70)
df['Gender'].replace(to_replace = Male, value = 'Male', inplace = True)

In [ ]:
Female=['Female', 'female', 'Trans-female', 'Cis Female', 'F',
       'Woman', 'f', 'queer/she/they', 'non-binary', 'Femake', 'woman',
       'Enby', 'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Trans woman', 'Female (trans)', 'queer',
       'Female (cis)', 'femail']

df['Gender'].replace(to_replace = Female, value = 'Female', inplace = True)

In [ ]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
# Dealing with other missing values
from sklearn.impute import SimpleImputer

# Impute nan with the most frequent value (mode) on every row
imputer = SimpleImputer(strategy='most_frequent',missing_values=np.nan)
imputer = imputer.fit(df)
df.iloc[:,:] = imputer.transform(df)
df = pd.DataFrame(imputer.transform(df.loc[:,:]), 
                  columns = df.columns)
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,27/08/2014 11:29,37,Female,United States,IL,No,No,Yes,Often,juin-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,* Small family business - YMMV.
1,27/08/2014 11:29,44,Male,United States,IN,No,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,* Small family business - YMMV.
2,27/08/2014 11:29,32,Male,Canada,CA,No,No,No,Rarely,juin-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,* Small family business - YMMV.
3,27/08/2014 11:29,31,Male,United Kingdom,CA,No,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,* Small family business - YMMV.
4,27/08/2014 11:30,31,Male,United States,TX,No,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,* Small family business - YMMV.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,12/09/2015 11:17,26,Male,United Kingdom,CA,No,No,Yes,Sometimes,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,* Small family business - YMMV.
1255,26/09/2015 01:07,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,* Small family business - YMMV.
1256,07/11/2015 12:36,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,* Small family business - YMMV.
1257,30/11/2015 21:25,46,Female,United States,NC,No,No,No,Sometimes,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,* Small family business - YMMV.
1258,01/02/2016 23:04,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,* Small family business - YMMV.

In [ ]:
df = df.astype({'Gender':'string'})

In [ ]:
df.isna().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
comments                     0
dtype: int64

In [ ]:
df['no_employees'].value_counts()

juin-25           290
26-100            289
More than 1000    282
100-500           176
01-mai            162
500-1000           60
Name: no_employees, dtype: int64

In [ ]:
df['no_employees'].replace(to_replace ='juin-25' , value = 55, inplace = True)
df['no_employees'].replace(to_replace ='26-100' , value = 75, inplace = True)
df['no_employees'].replace(to_replace ='More than 1000' , value = 1300, inplace = True)
df['no_employees'].replace(to_replace ='100-500' , value = 300, inplace = True)
df['no_employees'].replace(to_replace ='01-mai' , value = 25, inplace = True)
df['no_employees'].replace(to_replace ='500-1000' , value = 750, inplace = True)

In [ ]:

df = df.astype({'no_employees':'int'})

In [ ]:
df['Age'].value_counts()

 29             85
 32             82
 26             75
 27             71
 33             70
 28             68
 31             67
 34             65
 30             63
 25             61
 35             55
 23             51
 24             46
 37             43
 38             39
 36             37
 40             33
 39             33
 43             28
 22             21
 41             21
 42             20
 21             16
 45             12
 46             12
 44             11
 19              9
 18              7
 48              6
 50              6
 20              6
 51              5
 49              4
 56              4
 57              3
 54              3
 55              3
 47              2
 60              2
 99999999999     1
 5               1
-1               1
 11              1
 8               1
 61              1
 53              1
-29              1
-1726            1
 65              1
 62              1
 58              1
 329             1
 72              1
Name: Age, dtype: int64

In [ ]:
mean_age = df[(df['Age'] >= 18) | (df['Age'] <= 75)]['Age'].mean().round(0) 
df['Age'].replace(to_replace = df[(df['Age'] < 18) | (df['Age'] > 75)]['Age'].tolist(),
                          value = mean_age, inplace = True)

In [ ]:
df['Age'].value_counts()

29.0          85
32.0          82
26.0          75
27.0          71
33.0          70
28.0          68
31.0          67
34.0          65
30.0          63
25.0          61
35.0          55
23.0          51
24.0          46
37.0          43
38.0          39
36.0          37
39.0          33
40.0          33
43.0          28
22.0          21
41.0          21
42.0          20
21.0          16
46.0          12
45.0          12
44.0          11
19.0           9
79428148.0     8
18.0           7
50.0           6
48.0           6
20.0           6
51.0           5
56.0           4
49.0           4
57.0           3
55.0           3
54.0           3
47.0           2
60.0           2
58.0           1
62.0           1
65.0           1
53.0           1
61.0           1
72.0           1
Name: Age, dtype: int64

In [ ]:
df1=df.loc[df["Age"] <=75 ]

In [ ]:
df1

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,27/08/2014 11:29,37.0,Female,United States,IL,No,No,Yes,Often,55,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,* Small family business - YMMV.
1,27/08/2014 11:29,44.0,Male,United States,IN,No,No,No,Rarely,1300,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,* Small family business - YMMV.
2,27/08/2014 11:29,32.0,Male,Canada,CA,No,No,No,Rarely,55,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,* Small family business - YMMV.
3,27/08/2014 11:29,31.0,Male,United Kingdom,CA,No,Yes,Yes,Often,75,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,* Small family business - YMMV.
4,27/08/2014 11:30,31.0,Male,United States,TX,No,No,No,Never,300,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,* Small family business - YMMV.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,12/09/2015 11:17,26.0,Male,United Kingdom,CA,No,No,Yes,Sometimes,75,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,* Small family business - YMMV.
1255,26/09/2015 01:07,32.0,Male,United States,IL,No,Yes,Yes,Often,75,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,* Small family business - YMMV.
1256,07/11/2015 12:36,34.0,Male,United States,CA,No,Yes,Yes,Sometimes,1300,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,* Small family business - YMMV.
1257,30/11/2015 21:25,46.0,Female,United States,NC,No,No,No,Sometimes,300,...,Don't know,Yes,No,No,No,No,No,No,No,* Small family business - YMMV.
1258,01/02/2016 23:04,25.0,Male,United States,IL,No,Yes,Yes,Sometimes,75,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,* Small family business - YMMV.

In [ ]:
df1['Age'].value_counts()

29.0    85
32.0    82
26.0    75
27.0    71
33.0    70
28.0    68
31.0    67
34.0    65
30.0    63
25.0    61
35.0    55
23.0    51
24.0    46
37.0    43
38.0    39
36.0    37
39.0    33
40.0    33
43.0    28
41.0    21
22.0    21
42.0    20
21.0    16
45.0    12
46.0    12
44.0    11
19.0     9
18.0     7
48.0     6
50.0     6
20.0     6
51.0     5
49.0     4
56.0     4
55.0     3
57.0     3
54.0     3
47.0     2
60.0     2
58.0     1
62.0     1
65.0     1
53.0     1
61.0     1
72.0     1
Name: Age, dtype: int64

In [ ]:
df1=df1.astype({'Age':'int'})

In [ ]:
df1.isna().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
comments                     0
dtype: int64

In [ ]:
df1['Timestamp']

0       27/08/2014 11:29
1       27/08/2014 11:29
2       27/08/2014 11:29
3       27/08/2014 11:29
4       27/08/2014 11:30
              ...
1254    12/09/2015 11:17
1255    26/09/2015 01:07
1256    07/11/2015 12:36
1257    30/11/2015 21:25
1258    01/02/2016 23:04
Name: Timestamp, Length: 1251, dtype: object

In [ ]:
df1['Year'] = df["Timestamp"].apply(lambda x: np.int(x[6:10]))
#df1 = df1.drop('Timestamp', axis=1)

<ipython-input-40-802fd8fd932a>:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df1['Year'] = df["Timestamp"].apply(lambda x: np.int(x[6:10]))

In [ ]:
df1

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,Year
0,37,Female,United States,IL,No,No,Yes,Often,55,No,...,No,No,Some of them,Yes,No,Maybe,Yes,No,* Small family business - YMMV.,2014
1,44,Male,United States,IN,No,No,No,Rarely,1300,No,...,Maybe,No,No,No,No,No,Don't know,No,* Small family business - YMMV.,2014
2,32,Male,Canada,CA,No,No,No,Rarely,55,No,...,No,No,Yes,Yes,Yes,Yes,No,No,* Small family business - YMMV.,2014
3,31,Male,United Kingdom,CA,No,Yes,Yes,Often,75,No,...,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,* Small family business - YMMV.,2014
4,31,Male,United States,TX,No,No,No,Never,300,Yes,...,No,No,Some of them,Yes,Yes,Yes,Don't know,No,* Small family business - YMMV.,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,26,Male,United Kingdom,CA,No,No,Yes,Sometimes,75,No,...,No,No,Some of them,Some of them,No,No,Don't know,No,* Small family business - YMMV.,2015
1255,32,Male,United States,IL,No,Yes,Yes,Often,75,Yes,...,No,No,Some of them,Yes,No,No,Yes,No,* Small family business - YMMV.,2015
1256,34,Male,United States,CA,No,Yes,Yes,Sometimes,1300,No,...,Yes,Yes,No,No,No,No,No,No,* Small family business - YMMV.,2015
1257,46,Female,United States,NC,No,No,No,Sometimes,300,Yes,...,Yes,No,No,No,No,No,No,No,* Small family business - YMMV.,2015
1258,25,Male,United States,IL,No,Yes,Yes,Sometimes,75,No,...,Maybe,No,Some of them,No,No,No,Don't know,No,* Small family business - YMMV.,2016

In [ ]:
df1.to_excel('OSMI Mental Health in Tech Survey 2014C.xlsx')